.recent-bookings {
  background-color: #1e1e2d;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.recent-bookings h3 {
  margin-bottom: 1rem;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 400px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
}

thead {
  background-color: #282841;
}
